CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

cmake-build-*/
.idea/
.vscode/

**/.DS_STORE
libSet/libSetConfig.cmake
libSet/build
libSet/Debug
libSet/Set.build/
logs/
